<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Checkout</h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= react_component("CheckoutForm") %>
    </div>

    <div class="col-md-4 mb-4">
      <%= react_component("ShoppingCartList", props: {
        shopping_cart_items: current_customer.
          shopping_cart.shopping_cart_items.as_json(include: {
            product: {methods: :price}
          })
        })
      %>
    </div>
  </div>
</div>