<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>Hello world!</p>

<div class="btn btn-primary">
  <%= link_to 'Sign out', destroy_author_session_path, :method => "delete", :class => "btn" %> |
</div>
